.hero {
    background: url('../src/img/hero_bg.png');
    background-size: cover;
    background-position-x: 60%;
    background-position-y: 10%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .hero {
        height: auto;
    }
}
